{% extends "header.html.twig" %}

{% block header %}
 {{ parent() }}
{% endblock %}

{% block body %}
<div class="content">
<h1>The Empire (-27, 476)</h1>
<p>
  Caesar Auguste (-27 - 14)
</p>
<p>
  Tibere
</p>
<p>
  Caligula
</p>
<p>
  Claudius
</p>
<p>
  Neron
</p>
<p>
  Galba
</p>
<p>
  Othon
</p>
<p>
  Vitellius
</p>
<p>
  Vespasien
</p>
<p>
  Titus
</p>
<p>
  Domitien
</p>
<p>
  Nerva
</p>
<p>
  Trajan
</p>
<p>
  Hadrien
</p>
<p>
  Antonin
</p>
<p>
  Marc-Aurèle
</p>
<p>
  Commodus
</p>
</div>
{% endblock %}
