{% extends "header.html.twig" %}

{% block header %}
 {{ parent() }}
{% endblock %}

{% block body %}
<div class="content">
<h1>Middle Age</h1>
<p>
  Schisme de Constantinople
</p>
</div>
{% endblock %}
