{% extends "header.html.twig" %}

{% block header %}
 {{ parent() }}
{% endblock %}

{% block body %}
<div class="content">
How the city of Rome was founded? Let's discover the legend!
<br/>
<br/>
<h1>Romulus and Remus</h1>
<div class="row">
  <div class="col-md-4 img">
    <img src="images/RomulusRemus.jpg" style="max-width:70%"/>
  </div>
  <br />
  <br />
  <p>
    <div class="col-md-8">

    Legend Romulus and Remus (the twins who were suckled by a she-wolf), they  were purported to be sons of Rhea Silvia and Mars,
    the god of war. They were abandoned at birth, in the manner of many mythological heroes, because of a
    prophecy that they would overthrow their great-uncle Amulius, who had overthrown Silvia's father Numitor.</p>
    <p>
      They were abandoned on the Tiber River by servants who took pity on the infants, despite their orders. The twins were nurtured by a she-wolf
      until a shepherd named Faustulus found the boys and took them as his sons. Faustulus and his wife Acca Larentia raised the children.
    </p>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-8">
    <p>
      When Remus and Romulus became adults, they killed Amulius and restored Numitor. They decided to establish a city; however, they quarreled, and Romulus killed his brother.
    </p>
    <p>
      Thus, Rome began with a fratricide, a story that was later taken to represent the city's history of internecine political strife and bloodshed.
    </p>
  </div>
  <div class="col-md-4 img">
  <img src="images/RomulusRemus2.jpg" style="width:300px"/>
</div>
</div>

  <h1>How it all really began?</h1>
  <br/>
  <h4>The Royalty (-753,-509)</h4>
  <p>
    In -900, the Etrusques setteld in Italy. Rome was founded between -753 and -717.
    Domination by the Etrusques.
    Le site même de la ville, avec ses sept collines et un espace marécageux au bord du Tibre, dans la plaine du Latium, est propice aux échanges commerciaux.
    Les premiers Romains se sont probablement installés sur la rive gauche du Tibre, à environ 20 km de l’embouchure du fleuve.
    Le premier village indépendant se trouve sûrement sur le Palatin. D’autres se sont formés sur le Quirinal, l’Esquilin, le Capitole et sur les collines du Caelius.
    Au sommet de chaque colline se tient une citadelle protégeant les habitants. Très tôt, ces villages ont procédé à un synœcisme (réunion de maisons) pour former la
    ville de Rome.
  </p>
  <p>The traditional date for the founding of Rome is April 21st, 753 BC. by Romulus</p>

  <h4>The Republic (-509, -27)</h4>
  <p>
    Samnite wars, punique wars (against Carthage)
  </p>
  <p>They bild road and then became powerful because everyone had to go through Rome as all ways led to Rome.</p>
</div>
{% endblock %}
