{% extends "base.html" %}

{% block header %}
   {{ parent() }}
   <div class="header">
     <div class="text">
       <a href="../index.php" class="a">The eternal city, Rome</a>
     </div>
   </div>
   <div class="menu">
     <div class="row">
       <div class="col-md-3 text">
         <a href="../foundation.php" class="a">Foundation</a>
       </div>
       <div class="col-md-3 text">
         <a href="../apogee.php" class="a">The apogee</a>
       </div>
       <div class="col-md-3 text">
        <a href="../decline.php" class="a"> The decline</a>
       </div>
       <div class="col-md-3 text">
         <a href="nowadays.php" class="a">Rome nowadays</a>
       </div>
     </div>
   </div>
{% endblock %}

{% block body %}
<div class="content">
  <div>Bienvenue sur notre nouveau site!</div>
  Vous venez de créer votre premier template avec {{ moteur_name }}
</div>
{% endblock %}
