{% extends "base.html" %}

{% block body %}
   {{ parent() }}
   <div class="header">
     <div class="text">
       Discover Rome!
     </div>
   </div>
   <div class="menu">
     <div class="row">
       <div class="col-md-3 text">
         Foundation
       </div>
       <div class="col-md-3 text">
         Emperors
       </div>
       <div class="col-md-3 text">
         Emperors
       </div>
       <div class="col-md-3 text">
         Emperors
       </div>
     </div>
   </div>

  <div class="content">
     <div>Bienvenue sur notre nouveau site!</div>
   Vous venez de créer votre premier template avec {{ moteur_name }}
 </div>
{% endblock %}
