{% extends "header.html.twig" %}

{% block header %}
 {{ parent() }}
{% endblock %}

{% block body %}
<div class="content">
<h1>Rome highlights</h1>
<h4>Domus Aurea</h4>
<p>
  The Domus Aurea (Latin, "Golden House") was a vast landscaped palace built by the Emperor Nero in the heart of ancient Rome after the
  great fire in 64 AD had destroyed a large part of the city and the aristocratic villas on the Palatine Hill.
</p>
<h4>Colosseo</h4>
<h4>Foro Romano</h4>
<h4>Colonna Traiana</h4>
<h4>Mercati Traianei</h4>
<h4>Fontana di Trevi</h4>
<h4>Piazza di Spagna</h4>
<h4>Villa Medici</h4>
<h4>Piazza del Popolo</h4>
<h4>Mosoleo Augusto</h4>
<h4>Ara Pacis</h4>
<h4>Pantheon</h4>
<h4>Piazza Navona</h4>
<h4>Campo de Fiori</h4>
<h4>Palazzo Farnese</h4>
<h4>Palazzo Spada</h4>
<h4>Area Sacra</h4>
<h4>Piazza Venezia: Vittorio Emmanuele II</h4>
<h4>Campidoglio</h4>
<h4></h4>
<h4></h4>
</div>
{% endblock %}
