{% extends "header.html.twig" %}

{% block header %}
 {{ parent() }}
{% endblock %}

{% block body %}
<div class="content">
<h1>Rome highlights</h1>
<h4>Domus Aurea</h4>
<p>
  The Domus Aurea (Latin, "Golden House") was a vast landscaped palace built by the Emperor Nero in the heart of ancient Rome after the
  great fire in 64 AD had destroyed a large part of the city and the aristocratic villas on the Palatine Hill.
  Emperor Nero is believed to have ordered himself the fire, so that he could be inspired to compose a poem. He accused the christans for the fire, and executed lots of them.
  <br />
 Nero was really hated. There were rebellions, and Galba, a consul who was in Spain, took the power. As there were no escapes, Nero commited suicide.
 After his death, everyone wanted to forget him. Trajan filled the Domus Aurea with earth and built his baths above.

</p>
<h4>Colosseo</h4>
The colosseo was built by Emperor Vespasien. It is so called because of the "Colossos" statue of Nero that was nearby. This huge monument was built to show the emperor's power.
It was inaugurated one year after Vespasien's death by his son Titus. Three months games in the collosseus were offered to the population at the inauguration.
There ware gladiators contests, animal hunts, execution of prisoners, reenactment of naval battles.
On the 2nd and 3rd floor there were lots of statues.
Later, a secret underfloor, the hypogeum was added so that soldiers or animals could surprise their victimes. There were 28 lifts.
The colosseo has been partially destroyed by an earthquake, and there are a lot of holes because stones and bronze elements have been stolen or reused to build othjer monuments, such as st Peter.
<br  />

<h4>Foro Romano</h4>
<h4>Colonna Traiana</h4>
<h4>Mercati Traianei</h4>
<h4>Fontana di Trevi</h4>
<h4>Piazza di Spagna</h4>
<h4>Villa Medici</h4>
<h4>Piazza del Popolo</h4>
<h4>Mosoleo Augusto</h4>
<h4>Ara Pacis</h4>
<h4>Pantheon</h4>
<h4>Piazza Navona</h4>
<h4>Campo de Fiori</h4>
<h4>Palazzo Farnese</h4>
<h4>Palazzo Spada</h4>
<h4>Area Sacra</h4>
<h4>Piazza Venezia: Vittorio Emmanuele II</h4>
<h4>Campidoglio</h4>
<h4></h4>
<h4></h4>
</div>
{% endblock %}
